.page-concert-card {
  padding: 5% 0;


  .info-about-band {
    color: #333333;
    >h1 {
      color: #fa3729;
      text-align: center;
      text-transform: uppercase;
      font-size: 3rem;
      margin: 0;
      padding-bottom: 3%;
    }

    >p {
      text-align: justify;
    }

  }

  .info-about-concert {
    color: #333333;
    text-align: right;

    button {
      color: white;
      min-width: 180px;
      min-height: 40px;
      background-color: #4f4f4f;
      border-radius: 0;
      background-image: none;
      margin: 1%;
      outline-color: transparent;
      &.go-concert {
        background-color: #fa3729;
      }
      &.no-go-concert {
        background-color: #34217f;
      }
    }
  }
}

@media screen and (max-width: 768px){
  .concert-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    .info-about-band {
      width: 70%;
      padding: 2% 0;
    }
    .info-about-concert {
      text-align: left;
    }
  }
}

