@media screen and (min-width: 991px) {
  .szukaj-button {
    margin-top: 27px;
    margin-left: -70px
  }
}





.container {
 background-color: green;
margin: auto;
}

.search-input {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: red;
}