.search-input {
  margin: 0;
  padding: 0; }
.search-input form {
  color: #333333; }
.search-input form input {
  height: 40px;
  outline: 0;
  border: 1px solid #b9b9b9;
  border-radius: 0; }
.search-input form input:focus {
  outline-color: #333333;
  border-color: #6b0e0e;
  box-shadow: none; }
.search-input form button {
  color: #696969;
  background-color: rgba(244, 237, 238, 0.66);
  min-height: 40px;
  width: 100%;
  transition: all 0.5s linear;
  border: 1px solid #ece5e6;
  outline: 0;
  box-sizing: border-box; }
.search-input form button:hover {
  background-color: black;
  color: #fafafa;
  border: 1px solid #cdcdcd; }
.search-input form button:focus {
  border: 1px solid #cdcdcd; }


.datapickerinput {
  display: inline-block;
}
.datapickerinput span {
  padding: 0 2px;
  color: rgb(85, 85, 85);
}

@media screen and (max-width: 768px) {
  .search-button{
    margin: 5px 0;
    min-width: 150px;
  }
}
@media screen and (max-width: 520px) {
  .datapickerinput {
    display: flex;
    flex-direction: column;
  }
}