@import url("https://fonts.googleapis.com/css?family=Lato");

* {
  font-family: 'Lato', sans-serif;
}

.page-body {
  background-color: white;
  background-image: url('../images/crowd-bg.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  min-height: 100vh;

}

.info-about-page {
  padding:3% 0;
  margin: 0;
  text-align: center;

  >p {
    font-size: 18px;
    color: #333333;
    span {
      text-transform: uppercase;
    }
  }
}

.concerts-result-view {
  width: 80%;
  margin: 0 auto;
  >h1 {
    margin: 0;
    padding: 20px 0;
    text-transform: uppercase;
    font-size: 26px;
  }
  .top-link-to-concert-card {
    text-decoration: none;
  }
  .concerts-view {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 900px;
    max-height: 220px;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 10px;
    margin: 15px 0;
    box-shadow: 0 0 15px 1px #e9e9e9;
    position: relative;
    border: 1px solid #d8d8d8;
    &::before {
      content: '';
      position: absolute;
      left: 100%;
      bottom: 15px;
      background-color: rgba(222, 56, 24, 0.96);
      width: 0;
      height: 3.5em;
      transform: skewY(-45deg);
      transition: all 0.3s linear 0.5s;
    }
    .link-to-concert-card {
      background-color: rgba(243, 91, 25, 0.91);
      position: absolute;
      right: -15px;
      bottom: 22px;
      height: 3.5em;
      width: 0;
      transition: all 0.5s linear;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      overflow: hidden;
      text-align: center;
      line-height: 3.5;
      font-size: 14px;
      text-transform: uppercase;
      text-overflow: ellipsis;
      white-space: pre;
      text-decoration: none;
      color: black;
    }
    .band-images img {
      filter: grayscale(100%);
      transition: all 0.5s linear;
    }
    &:hover {
      &::before {
        width: 1.1em;
        height: 3.5em;
        z-index: 1;
        transition: all 0.3s linear 0s;
      }
      .link-to-concert-card {
        border-top-left-radius: 10px;
        text-overflow: ellipsis;
        border-bottom-left-radius: 10px;
        width: 250px;
        text-align: center;
        line-height: 3.5;
        font-size: 14px;
        text-transform: uppercase;
        z-index: 2;
        transition: all 0.5s linear 0.2s;
        overflow: hidden;
        white-space: pre;
        transform-origin: 0 0;
        text-decoration: none;
        transform: scaleX(1);
        color: black;
      }
      .band-images img {
        filter: none;
        transition: all 1s linear;
      }
    }
    .band-images {
      box-shadow: inset 0 0 8px rgba(0, 0, 0, .6);
    }
    .about-concert {
      text-align: right;
      padding-right: 30px;
      >h1 {
        margin: 0;
        padding-top: 10px;
        color: #fa3729;
      }
      span {
        display: inline-block;
        padding: 2px 0;
        color: #333333;
      }
      p {
        margin: 0;
        padding: 2px 0;
        color: #333333;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .concerts-result-view {
    width: 50%;
    margin: 0 auto;
    >h1 {
      display: none;
    }
    .concerts-view {
      display: flex;
      flex-direction: column;
      max-height: 600px;
      max-width: 325px;
      img {
        width: 100%
      }
      &:hover::before {
        display: none;
      }
    .link-to-concert-card {
      display:none;
    }
      .about-concert {
        >h1 {
          font-size: 18px;
        }
      }
    }
  }
}